<a href="/ia/misHistorias" style="color: beige; text-decoration: none;"><b> VOLVER A MIS HISTORIAS</b></a>
<br><br><br>

<div class="container">

  <h2><%- tituloForm %></h2>
  <hr>

  <div class="divTexto">
    <div class="textos">
      <span class="textoGenerado"><% for (text of texto) {%>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo1; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo2; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo3; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo4; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo5; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo6; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo7; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo8; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo9; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo10; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo11; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo12; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo13; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo14; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo15; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo16; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo17; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo18; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo19; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo20; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo21; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo22; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo23; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo24; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo25; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo26; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo27; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo28; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo29; %></span>
        </div>
        <div style="margin-bottom: 2em;">
          <span><%- text.parrafo30; %></span>
        </div>

        <% } %>
      </span>
    </div>

  </div>

  <div class="row"></div>

</div>