<div style="margin-bottom: 2em;">
    <span style="float: right;">Sesión iniciada por: <span class="navbar-text"><b><%- sessionDocente.usuario %></b></span></span>
    <br><br>
    <a class="nav-link" href="/panelDeControl/logout" style="float: right;"><span class="salir" style="float: right;">[ Cerrar Sesión ]</span></a>
</div>
<br>

<div class="container containerTablas">

  <h2><%- tituloForm %></h2>
  <hr>

  <div class="row">
      
      <div class="col-12 col-sm-2">
          <a href="/panelDeControl/create" class="btn btn-success">Agregar</a>
      </div>
      
      <div class="col-12 col-sm-10">
          <form action="/panelDeControl/list" method="get">
              <div class="input-group passRandom">
                  <input type="search" name="search" class="form-control ds-input" id="search-input"
                      placeholder="Filtrar por apellido..." value="<%- search %>">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-dark">Buscar</button>
                  </div>
              </div>
              <br>
          </form>
      </div>
      

  </div>


  <table class="table table-hover table-bordered text-center">
      <thead class="cabeceraTabla">
          <tr class="categoriasTabla">
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Usuario</th>
              <th scope="col">Acciones</th>
          </tr>
      </thead>

      <tbody class="cuerpoTabla">
          <% for ( usuario of usuarios ){ %>
          <tr>
              <td>
                  <%- usuario.nombreUsuario %>
              </td>
              <td>
                  <%- usuario.apellidoUsuario %>
              </td>
              <td >
                  <%- usuario.usuario %>
              </td>
              <td>
                  <a href="/panelDeControl/edit/<%- usuario.idUsuario %>">Editar</a>
                  /
                  <a href="/panelDeControl/delete/<%- usuario.idUsuario %>">Borrar</a>
              </td>
          </tr>
          <% } %>

      </tbody>
  </table>

</div>