<div id="wrapper" class="toggled">
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <!-- DIV ROW -->
    <div class="row" style="display: flex;">
      <div class="col-12 col-sm-7">
        <div class="divTexto">
          <div class="textos">
            <span class="textoGenerado"><% for (text of texto) {%>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo1; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo2; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo3; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo4; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo5; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo6; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo7; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo8; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo9; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo10; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo11; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo12; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo13; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo14; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo15; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo16; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo17; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo18; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo19; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo20; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo21; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo22; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo23; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo24; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo25; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo26; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo27; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo28; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo29; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo30; %></span>
              </div>

              <% } %>
            </span>
          </div>

        </div>
      </div>

      <div class="col-12 col-sm-3 text-center"
        style="height: fit-content; margin-top: auto; margin-bottom: auto; margin-left: auto;">
        <img src="/images/UNO.png" alt="imagenTexto">
      </div>

      <div class="col-sm-2">
        <div style="margin-left: -2rem;">
          <button class="btn btn-primary" id="menu-toggle">&#9776;</button>
        </div>
        <br>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <div class="sidebar-heading"><span><%- usuario %></span></div>
          <div class="list-group list-group-flush">
            <a href="/ia/eleccionEscenario" class="list-group-item list-group-item-action">Nuevo Juego</a>
            <a href="/ia/eleccionEscenario" class="list-group-item list-group-item-action" data-toggle="modal"
              data-target="#ventanaModal">Guardar Historia</a>
            <a href="/ia/misHistorias" class="list-group-item list-group-item-action">Mis Historias</a>
            <a href="/ia/consejos" class="list-group-item list-group-item-action">Consejos</a>
            <a href="/ia/acercaDe" class="list-group-item list-group-item-action">Acerca de</a>
            <a href="/ia/logout" class="list-group-item list-group-item-action">Cerrar Sesión</a>
          </div>
        </div>

        <!-- /#sidebar-wrapper -->
      </div>




    </div>
    <!-- /DIV ROW -->

    <div class="row">
        <!--
          <li class="text-justify parrafo">Ingresa verbos o acciones que tu personaje realiza, recuerda hacerlo en tiempo presente.</li>
    <li class="text-justify parrafo">Se recomienda ingresar solamente caracteres pertenecientes al alfabeto castellano.</li>
    <li class="text-justify parrafo">Puedes reiniciar el párrafo cuantas veces quieras hasta obtener un mejor resultado.</li>
    <li class="text-justify parrafo">Puedes visualizar tus historias creadas en las opciones en el lado derecho.</li>
    <li class="text-justify parrafo">Puedes crear un nuevo juego utilizando la opción en el menú desplegable.</li>
    <li class="text-justify parrafo">Recuerda que tus historias se guardan automáticamente.</li>

        -->


      <div class="col-12 col-sm-12">
        <form action="/ia/generadorIA/<%- nombreEscenario %>/<%- nombrePersonaje %>/<%- idTextoIA %>/<%- idParrafo %>"
          method="POST">
          <input type="hidden" name="accion" id="accion" value="reiniciar">
          <input type="hidden" name="accionTexto" id="accionTexto" value="<%- ultimaAccion %>">
          <input type="submit" class="btn btn-warning" style="margin-top: 3em;" value="REINICIAR">
        </form>

        <form action="/ia/generadorIA/<%- nombreEscenario %>/<%- nombrePersonaje %>/<%- idTextoIA %>/<%- idParrafo %>"
          method="POST">
          <div class="row" style="margin-top: 1em;">
            <div class="form-group col-8">
              <input type="text" class="form-control" id="accionTexto" name="accionTexto"
                placeholder="Ingrese una acción para generar un nuevo párrafo...">
            </div>
            <div class="form-group col-4">
              <input type="hidden" name="accion" id="accion" value="ingresar">
              <input type="submit" class="btn btn-success" value="INGRESAR">
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: gainsboro;">
        <h5 id="tituloVentana">Guardar historia</h5>
        <button class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modalBody">¿Deseas guardar tu historia?</p>
        <br><br>
        <p class="modalBody">Recuerda que podrás visualizar todas tus historias en el apartado "Mis Historias"</p>
        <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Aceptar
        </button>
      </div>
    </div>
  </div>

</div>



<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>