<div id="wrapper" class="toggled">
  <!-- Page Content -->
  <div id="page-content-wrapper">


    <div class="row" style="display: flex;">
      <div class="col-12 col-sm-7" style="height: fit-content;">
        <div class="divTexto">
          <div class="textos">
            <span class="textoGenerado"><% for (text of texto) {%>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo1; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo2; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo3; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo4; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo5; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo6; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo7; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo8; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo9; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo10; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo11; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo12; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo13; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo14; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo15; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo16; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo17; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo18; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo19; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo20; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo21; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo22; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo23; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo24; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo25; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo26; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo27; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo28; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo29; %></span>
              </div>
              <div style="margin-bottom: 2em;">
                <span><%- text.parrafo30; %></span>
              </div>

              <% } %>
            </span>
          </div>

        </div>
      </div>

      <div class="col-12 col-sm-3 text-center" style="height: fit-content; margin-top: auto; margin-bottom: auto; margin-left: auto;">
        <img src="/images/UNO.png" alt="imagenTexto">
      </div>
      
      <div class="col-sm-2">
        <div style="margin-left: -2rem;">
          <button class="btn btn-primary" id="menu-toggle">&#9776;</button>
        </div>
        <br>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <div class="sidebar-heading">Configuraci칩n</div>
          <div class="list-group list-group-flush">
            <span class="list-group-item list-group-item-action"><%- usuario %></span>
            <a href="/ia/eleccionEscenario" class="list-group-item list-group-item-action">Nuevo Juego</a>
            <a href="#" class="list-group-item list-group-item-action">Mis Historias</a>
            <a href="#" class="list-group-item list-group-item-action">Consejos</a>
            <a href="#" class="list-group-item list-group-item-action">Acerca de</a>
            <a href="#" class="list-group-item list-group-item-action">Cerrar Sesi칩n</a>
          </div>
        </div>

        <!-- /#sidebar-wrapper -->
      </div>

      <div class="col-12 col-sm-12">
        <form action="/ia/generadorIA/<%- nombreEscenario %>/<%- nombrePersonaje %>/<%- idTextoIA %>/<%- idParrafo %>"
          method="POST">
          <input type="hidden" name="accion" id="accion" value="reiniciar">
          <input type="hidden" name="accionTexto" id="accionTexto" value="<%- ultimaAccion %>">
          <input type="submit" class="btn btn-warning" style="margin-top: 3em;" value="REINICIAR">
        </form>

        <form action="/ia/generadorIA/<%- nombreEscenario %>/<%- nombrePersonaje %>/<%- idTextoIA %>/<%- idParrafo %>"
          method="POST">
          <div class="row" style="margin-top: 1em;">
            <div class="form-group col-8">
              <input type="text" class="form-control" id="accionTexto" name="accionTexto"
                placeholder="Ingrese una acci칩n para generar un nuevo p치rrafo...">
            </div>
            <div class="form-group col-4">
              <input type="hidden" name="accion" id="accion" value="ingresar">
              <input type="submit" class="btn btn-success" value="INGRESAR">
            </div>

          </div>
        </form>
      </div>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>